
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="dentsitItem">
    <p class="PValue">
        Բարի գալուստ «SmartTooth – Հայաստանի ատամնաբուժարաններ» ինֆորմացիոն պորտալ:

        Ատամնաբուժությունը Հայաստանում և ամբողջ աշխարհում զարգանում է բուռն տեմպերով, իսկ մենք, առօրյա հոգսերով ծանրաբեռնված, հաճախ բոլորովին մոռանում ենք մեր առողջության մասին, սակայն՝ իզուր:

        Այժմ Հայաստանի ատամնաբուժարանները համախմբած պորտալի էջերում դուք կարող եք մկնիկի մեկ հարվածով բազմաթիվ ատամնաբուժական կենտրոններից ընտրել ամենահարմարը Ձեզ համար:

        Դուք կարող եք դիտել Ձեզ դուր եկած ատամնաբուժարանի ամբողջական նկարագրությունը, տեսնել նաև Ձեր ապագա բժշկի լուսանկարն ու տեղեկանալ նրա մասնագիտական ստաժի մասին, համոզվել, որ Ձեր ապագա ատամնաբուժարանում աշխատում են իրենց գործի վարպետները: Մենք ջանացել ենք մեր ատամնաբուժական պորտալը դարձնել օգտակար և հետաքրքիր կայք Ձեզ համար:

        Ինտերնետային ցանցից օգտվող հարգելի այցելուներ, ատամնաբուժարանների հարմարավետ որոնում բազմաթիվ տարբերակներով.

        Ըստ ծառայությունների. որոնումների արդյունքում կտեսնեք, թե ինչպիսի ատամնաբուժարաններում և ինչ գներով կարող եք ստանալ այս կամ այն ծառայությունները: Ֆիլտրերի օգնությամբ կարող եք ոչ միայն գտնել մոտակա ատամնաբուժարանը, այլ նաև համակարգել գնային որոնումների արդյունքները:Ըստ բնակության վայրի. ընտրում եք շրջանն ու փողոցը, և որոնման արդյունքում կարող եք տեսնել այդ փողոցի վրա տեղակայված ատամնաբուժարանների ամբողջ ցուցակը:Քարտեզի օգնությամբ. քարտեզի վրա նշում եք Ձեր գտնվելու վայրը և ատամնաբուժարանների մաքսիմալ հեռավորությունը ձեզանից: Որոնումների արդյունքում կտեսնեք բոլոր այն ատամնաբուժարանները, որոնք համապատասխանում են Ձեր նշած չափանիշներին:

        Մեր կայքի այցելուները կարող են ստանալ զեղչեր: Պարզապես ընտրեք զեղչ ներկայացնող ատամնաբուժարանը, ստացեք կտրոնը և բուժվեք զեղչով:



        Ինչպես նաև «SmartTooth» պորտալի միջոցով Դուք կարող եք օնլայն գրանցվել բժշկի մոտ ընդունելության: Ատամնաբույժների օնլայն կոնսուլտացիան բոլոր ցանկացողների համար մեր պորտալում անվճար է:	Ձեր հարցերին կպատասխանեն հեղինակավոր բժիշկներ:	«SmartTooth»–ը «»–ի բազմաթիվ նախագծերից մեկն է:


        Ցանկանում ենք Ձեզ առողջ և ամուր ատամներ:
    </p>
</div>