/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: black;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.container {
    width: 100%;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.dentistForm {
    display: flex;
}

.dentsitItem {
    width: 100%;
    background-color: #002d4b;
    margin: 3%;
    font-size: 25px;
    color: black;
}

.TopHome {
    width: 100%;
    height: 1000px;
    background-image: url();
    background-color: #000000;
    position: absolute;
}

.imgtop {
    width: 100%;
    height: 900px;
    position: absolute;
}

.OneHome {
    width: 300px;
    overflow: hidden;
    -webkit-transition: width 1s;
    height: 300px;
    background-color: #0c1d2a;
        position: relative;
}

    .OneHome:hover {
        width: 100%;
        opacity: 0.9;
        position: relative;
    }

.imgMasnaget {
    width: 100px;
    height: auto;
    margin: auto;
    display: flex;
}

    .imgMasnaget:hover {
        display: ruby-text;
    }

.ParagText {
    width: 100%;
    font-size: 25px;
    text-decoration: none;
}

    .ParagText:hover {
        width: 100%;
        color: aliceblue;
        font-size: 25px;
        text-decoration: none;
    }

.ParagTextCenter {
    text-align: center;
    overflow: auto;
    font-size: 20px;
    color: aliceblue;
}

.PValue {
    text-align: center;
    font-size: 20px;
    color: white;
}
