@{
    ViewData["Title"] = "Home Page";
}
<div class="TopHome">
    <img class="imgtop" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ha0T59ZIiq18yt35/teeth-care-infographics-animation-dentist-icon-in-teeth-caring-icons-circle_rn_nycf6_thumbnail-full01.png" alt="Alternate Text" />
    <div class="OneHome">
        <a href="#" class="ParagText"> <p class="ParagText">Մեր Մասնագետները</p></a>
        <p class="ParagTextCenter">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
    <div class="OneHome">
        <a href="#" class="ParagText"> <p class="ParagText">Մեր Ծառայությունները</p></a>
        <p class="ParagTextCenter">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
    <div class="OneHome">
        <a href="#" class="ParagText"> <p class="ParagText">Մեր Հաճախորդները</p></a>
        <p class="ParagTextCenter">
            What is Lorem Ipsum?
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
            when an unknown printer took a galley of type and scrambled it to make a type specimen book.
        </p>
    </div>
</div>



