@{
    ViewData["Title"] = "Home Page";
}
<div class="TopHome">
    <img class="imgtop" src="https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/Ha0T59ZIiq18yt35/teeth-care-infographics-animation-dentist-icon-in-teeth-caring-icons-circle_rn_nycf6_thumbnail-full01.png" alt="Alternate Text" />
    <a asp-controller="Dentist" asp-action="AllDentist"  class="ParagText">
        <div class="OneHome">
            <p class="ParagText">Մեր Մասնագետները</p>
            <img class="imgMasnaget" src="https://irp-cdn.multiscreensite.com/7679306d/dms3rep/multi/mobile/icon_02-360x360.png" alt="Alternate Text" />

            <p class="ParagTextCenter">
                What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </a>
    <a href="#" class="ParagText">
        <div class="OneHome">
            <p class="ParagText">Մեր Ծառայությունները</p>
            <img class="imgMasnaget" src="http://www.dalmio-dent.md/wp-content/uploads/2016/11/icon_03-360x360.png" alt="Alternate Text" />
            <p class="ParagTextCenter">
                Ըստ ծառայությունների. որոնումների արդյունքում կտեսնեք, թե ինչպիսի ատամնաբուժարաններում և ինչ գներով կարող եք ստանալ այս կամ այն ծառայությունները: 
                Ֆիլտրերի օգնությամբ կարող եք ոչ միայն գտնել մոտակա ատամնաբուժարանը, այլ նաև համակարգել գնային որոնումների արդյունքները:
            </p>
        </div>
    </a>
    <a href="#" class="ParagText">
        <div class="OneHome">
            <p class="ParagText">Մեր Հաճախորդները</p>
            <img class="imgMasnaget" src="https://www.namg.net/wp-content/uploads/2017/09/patients-icon.png" alt="Alternate Text" />

            <p class="ParagTextCenter">
                What is Lorem Ipsum?
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </a>
</div>



