@model Dentist
@{
    ViewData["Title"] = "CreateDentist";
}


<h2>CreateDentist</h2>

<div>
    <form asp-action="CreateDentist" asp-controller="Dentist" method="post">
        <div asp-validation-summary="All">
            <div>
                <input asp-for="Name" placeholder="Name" type="text" name="name" />
            </div>
            <div>
                <input asp-for="LastName" placeholder="LastName" type="text" name="LastName" />
            </div>
            <div>
                <input asp-for="Description" placeholder="Description" type="text" name="Description" />
            </div>
            <div>
                <input asp-for="Specialization" placeholder="Specialization" type="text" name="Specialization" />
            </div>
            <div>
                <input asp-for="Email" placeholder="Email" type="email" name="Email" />
            </div>
            <div>
                <input asp-for="Number" placeholder="077-11-11-11" type="tel" pattern="[0-9]{3}-[0-9]{2}-[0-9]{2}-[0-9]{2}" name="Number" />
            </div>
            <div>
                <input asp-for="FacebookUrl" placeholder="FacebookUrl" type="url" name="FacebookUrl" />
            </div>
            <input type="submit" name="FacebookUrl" />
        </div>
    </form>
</div>